<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="AbsentReasons" asp-action="Index">AbsentReason management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Attendances" asp-action="Index">Attendance management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="AttendanceStatus" asp-action="Index">AttendanceStatus management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Departments" asp-action="Index">Department management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="PayRolls" asp-action="Index">PayRolls management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="PayrollStatus" asp-action="Index">Payroll Status management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Positions" asp-action="Index">Position management</a>
    </li>
</ul>
